<form action="/confirm-password" method="post">
    <label for="">Enter your password First</label>
    <input type="password" name="password" required>
    <label for="" class="text-danger">{{#if Error}}{{Error}}{{/if}}</label>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>