<section>
    <div class="row">
        <div class="d-flex justify-content-center ">
            <h3>{{#if paymentStatus}}
                {{paymentStatus}}
                {{else}}
                fail
                {{/if}}
            </h3>
            <a href="/orders"> My orders</a>
        </div>
    </div>
</section>