<section>
    <div class="container">
        <section class="vh-100 bg-image">
            <div class="mask d-flex align-items-center h-100 gradient-custom-3">
                <div class="container h-100">
                    <div class="row d-flex justify-content-center align-items-center h-100">
                        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                            <div class="card" style="border-radius: 15px;">
                                <div class="card-body p-5">
                                    <h2 class="text-uppercase text-center mb-5">Change account Deatails</h2>
                                    <h6 class="text-danger">{{#if userExistErr}}{{userExistErr}}{{/if}}</h6>

                                    <form action="/update-user-deatails" method="post">

                                        <div class="form-outline mb-1">
                                            <input type="text" id="form3Example1cg" name="Name"
                                                class="form-control form-control-lg" value="{{user.Name}}" />
                                            <label class="form-label" for="form3Example1cg">Change Your Name</label>
                                        </div>

                                        <div class="form-outline mb-1">
                                            <input type="email" id="form3Example3cg" name="email"
                                                class="form-control form-control-lg" value="{{user.email}}" />
                                            <label class="form-label" for="form3Example3cg">Change Email</label>
                                        </div>

                                        <div class="form-outline mb-1">
                                            <a href="">Change Password</a>
                                        </div>
                                        <div class="d-flex justify-content-center">
                                            <button type="submit"
                                                class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Save
                                                Changes</button>
                                        </div>



                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
</section>